# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# IDEs and editors
.vs/
.idea/
.project
.classpath
.settings/
*.sublime-workspace
*.launch
.c9/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular build
dist/
out-tsc/
tmp/

# Dependencies
node_modules/

# NX & Angular workspace
.nx/cache/
.nx/workspace-data/
.angular/
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Logs and coverage
npm-debug.log
yarn-error.log
coverage/
testem.log

# OS system files
.DS_Store
Thumbs.db

# Others
.sass-cache/
connect.lock
libpeerconnection.log
typings/
